---
layout: 2017_pdf
permalink: /booklet
title: "Event Booklet"
published: true
---
<script type="text/javascript">
    document.write ('<body style="padding-bottom:0px;">')
</script>

<!-- <iframe src="https://docs.google.com/file/d/0Bw6415LzTLuVZFo2RHowN3N5dEE/preview" style="height:100vh;width:100vw;"></iframe> -->
<!-- https://drive.google.com/file/d/1CSTmwEqq-i5LvcOhI3fo2xTjxKp-l0K1/view?usp=sharing -->
<br><br>
<div>
<center>
<!--
<p>如下方无 <b>PDF</b> 显示, 可点击 <a href="https://pan.baidu.com/s/1BJfOC6-T2-ZfvnGGxeiWvg">会议手册</a> 下载.</p>
<p>提取密码:0qmm</p>
<p>文件大小: 9.2M</p>
-->
<br><br>
</center>
</div>

<iframe src="https://drive.google.com/file/d/1eTNgMVsshZv07R2agOYuD-_HmOuGrP52/preview" style="height:100vh;width:100vw;"></iframe>
