---
layout: 2017_default
permalink: /faqs
title: Frequently Asked Questions (FAQ)
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1 class="title">{{ page.title }}</h1>

      <p>Below is a list of Frequently Asked Questions (FAQ).<p>
        <ol>
            {% for faq in site.data.twenty_17.faqs %}
                <li><b>{{ faq.question }}</b>
                    <br>{{ faq.answer }}<br><br>
                </li>
            {% endfor %}
        </ol>
        <p>
            For further enquiries, kindly submit your question via the <a href="{{site.baseurl}}/#contacts">contact us</a> 
            page or send us an email at <a href="mailto:hello.world@gmail.com">hello.world@gmail.com</a> 
        </p>
    </div>