---
layout: 2017_default
permalink: /venue
title: Venue
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

      <p>Date<br>Venue</p>

    <div class="venue-map">
      <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJBf0qvSq0aZYRm64amzog6-U&key=AIzaSyCcilPPbSILLCaETjrURDh-MxHrCd0iD9k"></iframe>
    </div>

      <p>Info</p>

      <p>Address</p>

      <p>Location</p>
    </div>
