<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ROL DE LAS REDES ÓPTICAS PARA EL INTERNET DEL FUTURO</h2>
                </div>
            </div>
            <div class="row container">
                <p>El intercambio de información nunca ha sido tan grande como hoy. Comunicación entre personas,
                    persona-máquina y máquina-máquina prometen revolucionar nuestra sociedad e industria. En el
                    centro de esta revolución de comunicaciones se encuentran las redes de fibra óptica. Capaces de
                    transportar altas cantidades de información sobre grandes distancias, las redes ópticas tienen
                    presencia en todos los sistemas interconectados hoy en día.
                    El seminario “Rol de las redes ópticas para el Internet del futuro” sirve como un punto de
                    encuentro entre la academia, la industria y el gobierno para el intercambio de información en el
                    área de redes ópticas y telecomunicaciones. Se explorarán avances y soluciones tecnológicas en
                    comunicaciones y redes ópticas, además de nuevos avances en infraestructura y dispositivos.
                    <!--<a href="{{site.baseurl}}/2016">Link to 2016</a>--> 
                </p>

                <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Feie.pucv%2Fvideos%2F954333935298443%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe></div><br>

                 <center><a href="#" class="page-scroll btn btn-xl">Proximamente registro...</a></center>
            </div>
        </div>
    </section>