<!-- Navigation -->
    <nav class="navbar navbar-default navbar-default-color navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{site.baseurl}}/">Name</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="{{site.baseurl}}/"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/2016/#speakers">Speakers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/2016/agenda">Agenda</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/2016/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/2016/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

